.page {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #2A2C2F;
    min-width: 1280px;
    max-width: 1280px;
    margin: auto;
    color: #FFFFFF;
}

.header {
    background-color: #2A2C2F;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    padding: 28px 48px 56px;
    max-width: 1184px;
    margin: auto;
}

.header__logo {}

.header__lang {
    display: flex;
    align-items: flex-end;
    gap: 18px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.header__link {
    color: #FFFFFF;
    text-decoration: none;
}

.header__link_ru {
    text-decoration: underline;
}

.header__link_en {}

.lead {
    border: 1px solid red;
    max-width: 984px;
    margin: auto;
}

.lead__title {
    text-align: center;
    font-weight: 900;
    font-size: 6rem;
    line-height: 6.26rem;
    max-width: 720px;
    margin: auto;
    padding-bottom: 2rem;
}

.lead__subtitle {
    max-width: 640px;
    text-align: center;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin: auto;
    padding-bottom: 4rem;
}

.lead__image {
    max-width: 984px;
    padding-bottom: 0.5rem;
}

.lead__caption {
    display: inline-block;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.875rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 92px;
}

.intro {
    border: 1px solid red;
    max-width: 690px;
    margin-left: 11.5%;
    margin-bottom: 92px;
}

.intro__title {
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 3.625rem;
    text-align: center;
    margin-bottom: 40px;
}

.intro__text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 163%;
    margin-bottom: 33px;
}

.intro__list {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.125rem;
}

.intro__nums{
    font-weight: 100;
}

.photo-grid{
    border: 1px solid red;
    max-width: 92.5%;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(3, 213px);
    grid-template-columns: repeat(4, 284px);
    gap: 16px;
    margin-bottom: 92px;
}


.photo-grid__image{
    max-width: 284px;
}