.body{
    background-color: #2A2C1F;
}
.page {
    font-family     : 'Inter', Arial, sans-serif;
    background-color: #2A2C2F;
    width: 1280px;
    margin          : auto;
    color           : #FFFFFF;
}

.header {
    background-color: #2A2C2F;
    max-width       : 92.5%;
    display         : flex;
    justify-content : space-between;
    margin          : auto;
    margin-bottom   : 56px;
    padding-top      : 28px;
}

.header__logo {
    max-width: 15%;
}

.header__lang {
    display    : flex;
    align-items: flex-end;
    gap        : 18px;
}

.header__link {
    min-height: 63%;
}

.header__link_ru {
    color               : #FFFFFF;
    font-weight         : 400;
    font-size           : 1.5rem;
    line-height         : 1.75rem;
    text-decoration-line: underline;
    text-underline-position: under;
    text-underline-offset: -1px;
}

.header__link_en {
    color          : #FFFFFF;
    font-weight    : 400;
    font-size      : 1.5rem;
    line-height    : 1.75rem;
    text-decoration: none;
}

.content {}

.lead {
    max-width    : 76.9%;
    margin       : auto;
    margin-bottom: 92px;
}

.lead__title {
    text-align    : center;
    font-weight   : 900;
    font-size     : 6rem;
    line-height   : 6.26rem;
    max-width     : 73%;
    margin        : auto;
    padding-bottom: 2rem;
}

.lead__subtitle {
    max-width     : 65%;
    text-align    : center;
    font-weight   : 400;
    font-size     : 1.875rem;
    line-height   : 2.25rem;
    margin        : auto;
    padding-bottom: 4rem;
}

.lead__image {
    max-width: 100%;
}

.lead__caption {
    display       : inline-block;
    font-weight   : 400;
    font-size     : 0.625rem;
    line-height   : 0.875rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin        : 0;
}

.intro {
    max-width    : 54%;
    margin-left  : 11.5%;
    margin-bottom: 92px;
}

.intro__title {
    font-weight  : 900;
    font-size    : 3.375rem;
    line-height  : 3.625rem;
    margin-bottom: 40px;
}

.intro__text {
    font-weight  : 400;
    font-size    : 1rem;
    line-height  : 1.625rem;
    margin-bottom: 33px;
}

.intro__list {}

.intro__list_text {
    font-weight    : 700;
    font-size      : 0.75rem;
    line-height    : 1.125rem;
    list-style-type: none;
}

.intro__list_nums {
    font-weight: 100;
}

.photo-grid {
    max-width            : 92.5%;
    margin               : auto;
    display              : grid;
    grid-template-rows   : repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap                  : 16px;
    margin-bottom        : 92px;
}


.photo-grid__image {
    max-width: 100%;
}

.places {
    max-width: 77%;
    margin   : auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.place {
    display              : grid;
    grid-template-columns: 46.7% 49.1%;
    grid-template-rows   : minmax(min-content, max-content) 100%;
    grid-template-areas  :
        "title website"
        "image text";
    column-gap   : 40px;
    row-gap      : 48px;
}

.place:last-of-type {
    margin-bottom: 92px;
}

.place__title {
    grid-area  : title;
    font-weight: 900;
    font-size  : 4.5rem;
    line-height: 4.75rem;
    margin: 0;
    letter-spacing: 1px;
}

.palce__url-heading {
    color         : #AAAAAA;
    font-weight   : 400;
    font-size     : 0.75rem;
    line-height   : 0.75rem;
    letter-spacing: 0.125rem;
    margin: 0;

}

.place__link {
    color      : #FFFFFF;
    font-weight: 400;
    font-size  : 1.125rem;
    line-height: 1.375rem;
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 0;
    transition: opacity 0.2s ease-in-out;
}

.place__link:hover{
    opacity: 0.8;
}

.place__website {
    grid-area     : website;
    display       : flex;
    flex-direction: column;
    gap           : 12px;
    align-self    : end;
    max-width: 94.3%;
}

.place__image {
    max-width : 100%;
    object-fit: cover;
    grid-area : image;
}

.place__text {
    grid-area     : text;
    display       : flex;
    flex-direction: column;
    gap           : 26px;
}

.place__paragraph_top {
    font-weight: 400;
    font-size  : 1.125rem;
    line-height: 1.8rem;
    margin: 0;
}

.place__paragraph_bot {
    font-weight: 400;
    font-size  : 1.125rem;
    line-height: 1.8rem;
    margin: 0;
}

.cover {
    max-width    : 92.5%;
    margin       : auto;
    position     : relative;
    margin-bottom: 92px;
}

.cover__overlay {
    background: #2A2C2F;
    opacity   : 0.7;
    display: flex;
    transition: opacity 0.2s ease-in-out;
}

.cover__overlay:hover{
    opacity: 0.3;
}

.cover__text {
    display       : flex;
    flex-direction: column;
    gap           : 32px;
    max-width     : 47.3%;
    position      : absolute;
    top           : 50%;
    left          : 50%;
    transform     : translate(-50%, -50%);
    text-align    : center;
}

.cover__title {
    font-weight: 900;
    font-size  : 4.5rem;
    line-height: 4.75rem;
    margin: 0;
}

.cover__link{
    text-decoration: none;
    color: #FFFFFF;
}

.cover__subtitle {
    margin     : auto;
    max-width  : 64.3%;
    font-weight: 400;
    font-size  : 1.125rem;
    line-height: 1.375rem;
}

.cover__background {
    max-width: 100%;
}

.footer {
    max-width      : 92.5%;
    margin         : auto;
    padding-bottom  : 24px;
    display        : flex;
    justify-content: space-between;
}

.footer-links {
    display    : flex;
    gap        : 18px;
}

.footer-links__link {
    color          : #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size  : 1rem;
    line-height: 1.125rem;
    transition: opacity 0.2s ease-in-out;
}

.footer-links__link:hover{
    opacity: 0.8;
}

.footer__copyright{
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    margin: 0;
}