.place__paragraph_top {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.8rem;
    margin: 0;
}

@media all and (max-width: 768px) {
    .place__paragraph_top {
        font-size: 1rem;
        line-height: 1.625rem;
    }
}

@media all and (max-width: 320px) {
    .place__paragraph_top {
        font-size: 1rem;
        line-height: 1.625rem;
    }
}