.cover__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../../images/cover-trains.jpg");
    background-size: cover;
    width: 100%;
    min-height: 740px;
    gap: 32px;
}

@media screen and (max-width: 1024px){
    .cover__background{
        min-height: 640px;
    }
}

@media all and (max-width: 768px){
    .cover__background{
        min-height: 480px;
    }
}

@media all and (max-width: 320px){
    .cover__background{
        min-height: 200px;
        gap: 16px;
    }
}
