.place__url-heading {
    color: #AAAAAA;
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
    margin: 0;
    line-height: 0.75rem;
}

@media all and (max-width: 768px) {
    .palce__url-heading {
        font-size: 0.75rem;
        line-height: 0.75rem;
    }
}