.place__website {
    grid-area: website;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-self: end;
    max-width: 94.3%;
}

@media all and (max-width: 320px) {
    .place__website {
        min-width: 90%;
        margin: auto;
    }
}